$tei-primary: #2a5781;
$tei-dark: #1d3d5b;
$gray: rgb(221, 228, 233);
$border: #d4d2d0;

.boxshadow {
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}




body {
    background: #f4f4f4;    
    width: 1920px;
    height: 1080px;
    // border: 2px solid $tei-primary;
    font-family: "Roboto","proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.channels-table {
    font-size: 2em;
}

.active-users-container {
    display: flex;
    width: 100%;
    height: 400px;

    .ActiveUsers {
        width: 100%;
        // height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5em;
    }

    .ActiveUsers-value {
        display: block;
    }
}

.thead-inverse th{
    color: $tei-primary;
    font-weight: 600;
    font-size: 1.2em;
    span {
        display: block;
        font-size: 0.5em;
    }
}

.channel-row {  
    td:nth-child(1) {
        // background: #fff !important;
        // border: none;
        color: $tei-primary;
    } 
    &:last-of-type {
        background: $gray;
        border: 2px solid $tei-primary;
    } 
    span {
        font-size: 0.7em;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: $tei-primary;
        margin: 0 5px;
    }
}

.this-week-date-header,.last-week-date-header {
    display: inline;
    font-size: 0.6em;
    background: $tei-primary;
    color: #fff;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 10px;
    margin-left: 1em;
}

.dash-element {
    background: #fff;
    border: 1px solid $border;
    border-radius: 4px;
    .dash-element-header {
        background: $tei-dark;
        color: #fff;
        border-radius: 4px 4px 0 0;
        font-weight: 100;
        margin: 0;
        padding: 10px 0;
    }
}
.list-group {
    height: 334px;
    overflow-y: scroll;
    background: #fff;
    .list-group-item {            
        border-left: none;
        border-right: none;  
        &:last-of-type {
            border-bottom: none;
        }  
    }
    .list-group-item span {
        float: right;        
        position: absolute;
        right: 10px;
        top: 5px;
        font-weight: 700;
        color: $tei-primary;
        font-size: 1.3em;
        display: block;
        margin-left: 50px;        
    }
}

header {
    @extend .boxshadow;
    background: $tei-dark;    
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    padding: 0 2em;
    height: 60px;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
    .header-tei-logo {
        width: 300px;
    }
    .header-text {
        margin: 0;
    }
}
.ActiveUsers {
    background: $tei-dark;
    // background-image: url("../img/duoTone-skyline-2.jpg");
    background-size: cover;
    color: #fff;    
    border-radius: 4px;
    font-weight: 300;
    padding: .5em 1.5em;
    white-space: nowrap
}

.ActiveUsers-value {
    display: inline-block;
    font-weight: 600;
    margin-right: -.25em
}

.ActiveUsers.is-increasing {
    -webkit-animation: a 3s;
    animation: a 3s
}

.ActiveUsers.is-decreasing {
    -webkit-animation: b 3s;
    animation: b 3s
}

@-webkit-keyframes a {
    10% {
        background-color: #ebffeb;
        border-color: rgba(0, 128, 0, .5);
        color: green
    }
}

@keyframes a {
    10% {
        background-color: #ebffeb;
        border-color: rgba(0, 128, 0, .5);
        color: green
    }
}

@-webkit-keyframes b {
    10% {
        background-color: #ffebeb;
        border-color: rgba(255, 0, 0, .5);
        color: red
    }
}

@keyframes b {
    10% {
        background-color: #ffebeb;
        border-color: rgba(255, 0, 0, .5);
        color: red
    }
}