.boxshadow, header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

body {
  background: #f4f4f4;
  width: 1920px;
  height: 1080px;
  border: 2px solid #2a5781;
  font-family: "Roboto","proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.channels-table {
  font-size: 2em; }

.page-header {
  border: none; }

.active-users-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px; }
  .active-users-container .ActiveUsers {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4em; }
  .active-users-container .ActiveUsers-value {
    display: block; }

.Chartjs, table {
  background: #fff; }

.dash-element .dash-element-header {
  margin: 0;
  padding: 10px 0; }

.Chartjs h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em; }

.thead-inverse th {
  color: #2a5781;
  font-weight: 600;
  font-size: 1.2em; }
  .thead-inverse th span {
    display: block;
    font-size: 0.5em; }

.channel-row span {
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #2a5781;
  margin: 0 5px; }

.this-week-date-header {
  display: inline;
  font-size: 0.6em;
  background: #2a5781;
  color: #fff;
  font-weight: 400;
  padding: 5px;
  margin-left: 1em; }
  .this-week-date-header:before {
    content: "["; }
  .this-week-date-header:after {
    content: "]"; }

.dash-element {
  background: #fff;
  border: 1px solid #d4d2d0;
  border-radius: 4px; }
  .dash-element .dash-element-header {
    background: #1d3d5b;
    color: #fff;
    border-radius: 4px 4px 0 0;
    font-weight: 100; }

.list-group {
  height: 334px;
  overflow-y: scroll;
  background: #fff; }
  .list-group .list-group-item {
    border-left: none;
    border-right: none; }
    .list-group .list-group-item:last-of-type {
      border-bottom: none; }
  .list-group .list-group-item span {
    float: right;
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: 700;
    color: #2a5781;
    font-size: 1.3em;
    display: block;
    margin-left: 50px; }

header {
  background: #1d3d5b;
  color: #fff;
  font-size: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  height: 60px;
  width: 100%;
  margin-bottom: 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .header-tei-logo {
    width: 300px; }
  header .header-text {
    margin: 0; }

.ActiveUsers {
  background: #1d3d5b;
  background-size: cover;
  color: #fff;
  border-radius: 4px;
  font-weight: 300;
  padding: .5em 1.5em;
  white-space: nowrap; }

.ActiveUsers-value {
  display: inline-block;
  font-weight: 600;
  margin-right: -0.25em; }

.ActiveUsers.is-increasing {
  -webkit-animation: a 3s;
  animation: a 3s; }

.ActiveUsers.is-decreasing {
  -webkit-animation: b 3s;
  animation: b 3s; }

@-webkit-keyframes a {
  10% {
    background-color: #ebffeb;
    border-color: rgba(0, 128, 0, 0.5);
    color: green; } }
@keyframes a {
  10% {
    background-color: #ebffeb;
    border-color: rgba(0, 128, 0, 0.5);
    color: green; } }
@-webkit-keyframes b {
  10% {
    background-color: #ffebeb;
    border-color: rgba(255, 0, 0, 0.5);
    color: red; } }
@keyframes b {
  10% {
    background-color: #ffebeb;
    border-color: rgba(255, 0, 0, 0.5);
    color: red; } }
